.heading{
    display: flex;
    justify-content: center;
}
h1{
    color: silver;
}
.cards__row{
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 20px;
}
.card{
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 25px 30px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px silver;
}
.button{
    padding: 15px 35px;
    background-color: #56c3b7;
    color:white;
}
h2{
    color: #be7038;
}
p{
    color:silver;
}